QueueITLib.xcworkspace/xcuserdata/queut-it.xcuserdatad/xcdebugger/**
/.DS_Store
/.swiftpm/.DS_Store
/QueueITLib.xcodeproj/project.xcworkspace/xcuserdata/lucygalik.xcuserdatad/UserInterfaceState.xcuserstate
/.swiftpm/xcode/package.xcworkspace/xcuserdata
/QueueITLibrary/.DS_Store
